<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Posts</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Posts</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">  
            <a ui-sref="postsAdd" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevo Post</a>
            <input id="srText" type="search" class="form-control" placeholder="Buscar..." ng-model="search.text">
            <select id="sltCategory" class="form-control"
                ng-options="category.id as category.descripcion for category in categories"
                ng-model="search.category_id"
                name="ctegoryIdSearch">
                <option value="">{{ loading_categories }}</option>
            </select>
        </form>
        <div class="radio pull-left">
            <label>
                <input type="radio" ng-model="search.estado_id" value=""> 
                Todos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="1"> 
                Activos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="2"> 
                Inactivos
            </label>
        </div>
        <div class="pull-right">
            Mostrando 
            <select class="form-control" style="width: 70px; display: inline;" ng-change="onChangeItemsPerPage()"
                ng-model="items_per_page" ng-options="option for option in [10, 50, 100, 150]">
            </select> 
            resultados por página
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <scrollable-table watch="posts" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th sortable-header col="id">Código</th>
                        <th sortable-header col="titulo">Título</th>
                        <th sortable-header col="category.descripcion">Categoría</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading"><td colspan="4">Cargando...</td></tr>
                    <tr ng-show="!loading && posts.length === 0"><td colspan="4">No hay registros</td></tr>
                    <tr ng-show="!loading && posts.length !== 0" ng-class="{'danger': post.estado_id === 2}" ng-repeat="post in posts" row-id="{{ post.id }}">
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.category.descripcion }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="showPostsEdit(post, $event)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-show="post.estado_id === 1" type="button" class="btn btn-danger btn-sm" ng-click="showPostsDelete(post)" title="Deshabilitar"><span class="glyphicon glyphicon-remove"></span></button>
                            <button ng-show="post.estado_id === 2" type="button" class="btn btn-default btn-sm" ng-click="showPostsActivate(post)" title="Activar"><span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </scrollable-table>
        
        <ul uib-pagination total-items="pagination.totalItems" first-text="Primero" 
            last-text="Último" next-text="Siguiente" previous-text="Anterior"
            items-per-page="pagination.itemsPerPage" ng-model="page" 
            class="pagination-sm" boundary-links="true" force-ellipses="true"
            ng-change="pageChanged()"></ul>
    </div>
</div>